
.container {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    
    gap: 10px;
}

.input {
    width: 50px; /* Ajusta el ancho según tus preferencias */
}


.container input::placeholder {
    position: absolute;
    top: 50%; 
    left: 0;
    transform: translateY(-50%); 
    text-align: center; 
    width: 100%;
    font-style: italic; 
    color: gray; 
}

#calcular {
    clear: both;
    display: block;
    margin-top: 10px; 
    background-color: aqua;
}



